@charset "utf-8";

body.rtl {
    direction: rtl
}

body.rtl .soh_topbar .menu .links ul li:last-child {
    margin-right: 30px
}

body.rtl .soh_topbar .menu .links ul li:first-child {
    margin-right: 0
}

body.rtl .soh_hero .background .leftpart {
    left: auto;
    right: 0
}

body.rtl .soh_hero .background .rightpart {
    padding-left: 0;
    padding-right: 33%
}

body.rtl .soh_about .about_inner .right {
    padding-left: 0;
    padding-right: 100px
}

body.rtl .soh_about .name h3 .bg {
    left: auto;
    right: 0
}

body.rtl .soh_skillSwiper ul li .svg {
    left: auto;
    right: 0
}

body.rtl .soh_skillSwiper ul li .details {
    padding-left: 0;
    padding-right: 75px
}

body.rtl .soh_main_title .title h3 .bg {
    left: auto;
    right: 0
}

body.rtl .soh_portfolio .portfolio_inner ul li {
    float: right
}

body.rtl .soh_portfolio .portfolio_filter ul {
    padding-right: 0;
    padding-left: 50px
}

body.rtl .soh_portfolio .portfolio_filter ul li:last-child {
    margin-right: 30px
}

body.rtl .soh_portfolio .portfolio_filter ul li:first-child {
    margin-left: 0
}

body.rtl .soh_services .short {
    padding-left: 0;
    padding-right: 25px
}

body.rtl .soh_services .testi_inner .left {
    padding-left: 50px;
    padding-right: 0
}

body.rtl .soh_services .testi_inner .right {
    padding-right: 50px;
    padding-left: 0
}

body.rtl .soh_contact .contact_inner .left {
    padding-left: 25px;
    padding-right: 0
}

body.rtl .soh_contact .right {
    padding-left: 0;
    padding-right: 25px
}

body.rtl .soh_contact .desc {
    float: right
}

body.rtl .soh_copyright .copyright_inner .social ul li:last-child {
    margin-right: 30px
}

body.rtl .soh_copyright .copyright_inner .social ul li:first-child {
    margin-right: 0
}

body.rtl .soh_mobile_menu .dropdown .dropdown_inner ul li {
    float: right
}

body.rtl .soh_portfolio .portfolio_filter ul li {
    float: right
}

body.rtl .soh_copyright .copyright_inner>ul>li {
    float: right
}

body.rtl .soh_skills .my_box .left {
    padding-right: 0;
    padding-left: 50px
}

body.rtl .soh_skills .my_box .right {
    padding-right: 50px;
    padding-left: 0
}

body.rtl .progress_inner>span {
    text-align: right
}

body.rtl .progress_inner span.number {
    float: left
}

@media(max-width:1040px) {
    body.rtl .soh_about .about_inner .right {
        padding-right: 0
    }

    body.rtl .soh_contact .contact_inner .left {
        padding: 0
    }

    body.rtl .soh_contact .right {
        padding: 0
    }

    body.rtl .soh_skills .my_box .left {
        padding: 0
    }

    body.rtl .soh_skills .my_box .right {
        padding: 0
    }
}