@charset "utf-8";

html {
    overflow-x: hidden;
    padding: 0;
    margin: 0
}

body {
    font-family: mulish;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: .2px;
    word-wrap: break-word;
    font-weight: 400;
    background-color: #fff;
    color: #767676
}

ul {
    list-style: none;
}

svg {
    fill: currentcolor;
    width: 15px;
    height: 15px
}

img.svg {
    width: 15px;
    height: 15px
}

::-webkit-input-placeholder {
    color: #6f6f6f
}

:-moz-placeholder {
    color: #6f6f6f;
    opacity: 1
}

::-moz-placeholder {
    color: #6f6f6f;
    opacity: 1
}

:-ms-input-placeholder {
    color: #6f6f6f
}

::-ms-input-placeholder {
    color: #6f6f6f
}

::placeholder {
    color: #6f6f6f
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.4;
    font-family: 'poppins', sans-serif;
    color: #000
}

.container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0 40px;
    position: relative;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media(max-width:1040px) {
    .container {
        padding: 0 20px
    }
}

.soh_all_wrap {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    overflow: hidden
}

.soh_all_wrap,
.soh_all_wrap * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.soh_preloader {
    position: fixed;
    background-color: #fff;
    z-index: 9999999999999999;
    height: 100%;
    width: 100%;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s
}

.soh_preloader .spinner_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 33333
}

.soh_preloader.loaded {
    opacity: 0;
    visibility: hidden
}

.soh_preloader:before,
.soh_preloader:after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #000;
    -webkit-transition: .7s all ease;
    -o-transition: .7s all ease;
    transition: .7s all ease
}

.soh_preloader:before {
    top: 0;
    left: 0
}

.soh_preloader:after {
    bottom: 0;
    left: 0
}

.soh_preloader.loaded:before,
.soh_preloader.loaded:after {
    height: 0%
}

.soh_topbar {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_topbar.opened {
    top: 0
}

.soh_topbar.extra {
    top: 0 !important
}

.soh_topbar.animate {
    backdrop-filter: blur(30px);
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, .06)
}

.soh_topbar.animate .menu .links ul li a {
    color: #111;
}

body.dark .soh_topbar.animate ul li a {
    color: #fff;
}

.soh_topbar .topbar_inner .logo svg {
    color: #000;
    width: 10vh;
    height: 10vh;
}

.soh_topbar .topbar_inner .light_logo {
    display: none;
}

.soh_topbar .topbar_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.soh_topbar .topbar_inner .logo img {
    max-width: 70px
}

.soh_topbar .wrapper {
    width: 30px;
    height: 17px;
    top: 5px;
    position: relative
}

.soh_topbar .menu {
    display: flex;
    align-content: center
}

.soh_topbar .menu .links ul {
    margin: 0;
    list-style-type: none;
    position: relative;
    top: 5px
}

.soh_topbar .menu .links ul li {
    margin: 0 30px 0 0;
    display: inline-block
}

.soh_topbar .menu .links ul li:last-child {
    margin-right: 0
}

.soh_topbar .menu .links ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    display: inline-block
}

.soh_topbar .menu .links ul li a .first {
    position: absolute;
    transform: translateY(100%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_topbar .menu .links ul li a .second {
    position: relative;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_topbar .menu .links ul li a:hover .first {
    transform: translateY(0)
}

.soh_topbar .menu .links ul li a:hover .second {
    transform: translateY(-100%)
}

.soh_topbar .menu .links ul li.current a .first {
    transform: translateY(0)
}

.soh_topbar .menu .links ul li.current a .second {
    transform: translateY(-100%)
}

body.light .soh_topbar .menu .links ul li.current a {
    color: #FF8C00;
}

.soh_mobile_menu {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 10
}

.soh_mobile_menu .topbar_inner {
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    background-color: #111;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.soh_mobile_menu .topbar_in {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.my_trigger .hamburger {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: .15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible
}

.my_trigger .hamburger-box {
    width: 30px;
    height: 18px;
    display: inline-block;
    position: relative
}

.my_trigger .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px
}

.my_trigger .hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.my_trigger .hamburger-inner::before,
.my_trigger .hamburger-inner::after {
    content: "";
    display: block;
    background-color: #fff;
}

.my_trigger .hamburger-inner::before {
    top: -8px
}

.my_trigger .hamburger-inner::after {
    bottom: -10px
}

.my_trigger .hamburger--collapse-r .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: .13s;
    transition-delay: .13s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19)
}

.my_trigger .hamburger--collapse-r .hamburger-inner::after {
    top: -16px;
    transition: top .2s .2s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear
}

.my_trigger .hamburger--collapse-r .hamburger-inner::before {
    transition: top .12s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19)
}

.my_trigger .hamburger--collapse-r.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(45deg);
    transition-delay: .22s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}

.my_trigger .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .22s linear
}

.my_trigger .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top .1s .16s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .25s cubic-bezier(.215, .61, .355, 1)
}

.my_trigger .hamburger {
    padding: 0;
    height: 100%;
    display: table-cell;
    vertical-align: middle
}

.my_trigger .hamburger-box {
    display: block
}

.my_trigger .hamburger .hamburger-inner::before,
.my_trigger .hamburger .hamburger-inner::after,
.my_trigger .hamburger .hamburger-inner {
    background-color: #fff;
    width: 30px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_mobile_menu .dropdown {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: none;
    z-index: 9999999 !important;
}

.soh_mobile_menu .dropdown .dropdown_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 25px 0;
    z-index: 9999999 !important;
}

.soh_mobile_menu .dropdown .dropdown_inner ul {
    margin: 0;
    list-style-type: none
}

.soh_mobile_menu .dropdown .dropdown_inner ul li {
    margin: 0;
    float: left;
    width: 100%
}

.soh_mobile_menu .dropdown .dropdown_inner ul li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 4px 0;
    font-family: 'poppins', sans-serif;
    font-weight: 500
}

.soh_mobile_menu .logo img {
    max-width: 70px
}

.soh_hero {
    width: 100%;
    height: 100vh;
    clear: both;
    float: left;
    position: relative
}

body.light .soh_hero .leftpart {
    background: #f8f9fa !important;
}

.soh_hero .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

body.light .bg {
    opacity: .2 !important;
}

.soh_hero .background .leftpart {
    width: 33%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0
}

.soh_hero .background .rightpart {
    width: 100%;
    height: 100%;
    float: left;
    padding-left: 33%
}

.soh_hero .background .rightpart .inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden
}

.soh_hero .content .container {
    height: 100%
}

.soh_hero .content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 4;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url(../images/hero.jpg);
    background-size: cover;
    backdrop-filter: drop-shadow(90px);

}

.soh_hero .content_inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.soh_hero .content_inner h3 {
    color: #fff;
    font-size: 120px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.1
}

.hire_head {
    color: #fff;
}

.soh_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #fff;
    color: transparent
}

.soh_hero .content_inner span {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    display: inline-block;
    padding-top: 20px;
    font-style: italic;
    color: aliceblue;
}

.soh_hero .right_hire_wrap .right_icons .svg {
    color: #fff;
    height: 8vh;
    width: 8vh;
}

.soh_hero .right_hire_wrap hr {
    background-color: #212d46;
    margin: 10px 0;
    opacity: 1;
}

.soh_down {
    position: absolute;
    z-index: 7;
    bottom: 50px
}

.soh_down[data-position=left] {
    left: 0
}

.soh_down[data-position=right] {
    right: 0
}

.soh_down[data-position=center] {
    left: 50%;
    transform: translateX(-50%)
}

.soh_down .line_wrapper {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "alpha(opacity=100)";
    visibility: visible;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s
}

.soh_down .line_wrapper {
    width: 1px;
    height: 50px;
    background: 0 0;
    display: block
}

.soh_down .line_wrapper:before {
    content: "";
    background-color: #000;
    width: 1px;
    height: 50%;
    display: block;
    top: 0;
    -webkit-animation: scroll-down 2s ease-in-out infinite;
    -ms-animation: scroll-down 2s ease-in-out infinite;
    animation: scroll-down 2s ease-in-out infinite
}

@-webkit-keyframes scroll-down {
    0% {
        height: 0
    }

    50% {
        height: 100%
    }

    70% {
        height: 100%;
        transform: scaleY(.5);
        transform-origin: bottom
    }

    100% {
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom
    }
}

.soh_down[data-skin=light] .line_wrapper:before {
    background-color: #fff
}

body.light .soh_about {
    background-color: #f8f9fa !important;
}

.soh_about {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 193px;
    padding-top: 150px;
}

.soh_about .social .svg {
    width: 40px;
    height: 40px;
    color: #000;
}

.soh_about .about_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center
}

.soh_about .about_inner .left {
    width: 40%;
    border-left: 8px solid #000;
    border-bottom: 8px solid #000;
}

.soh_about .about_inner .left img {
    min-width: 10%
}

body.light .soh_about .about_inner .left .thumbnail {
    display: none;
}

body.light .soh_about .about_inner .left .thumbnail_2 {
    border-left: 8px solid #000;
    border-top: 8px solid #000;
    display: block;
}

.soh_about .about_inner .right {
    width: 60%;
    padding-left: 80px
}

.soh_about .name {
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 35px;
    margin-bottom: 32px
}

.soh_about .name h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    position: relative;
    color: #000
}

.soh_about .name h3 .bg {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'poppins', sans-serif;
    color: transparent;
    font-size: 150px;
    font-weight: 900;
    opacity: .1;
    line-height: 0;
    -webkit-text-stroke: 1px #000;
    -webkit-user-select: none
}

.soh_about .name span {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    display: inline-block;
    padding-top: 10px
}

.soh_about span.job {
    font-style: italic
}

.soh_about .right .text {
    width: 100%;
    float: left;
    margin-bottom: 23px
}

.soh_about .right .text p {
    margin-bottom: 13px;
    font-style: italic
}

.soh_button {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.soh_button a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 13px 50px;
    display: inline-block;
    border: 2px solid #000;
    font-style: italic;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_button a:hover {
    background-color: transparent;
    color: #000
}

.soh_button[data-position=left] {
    text-align: left
}

.soh_button[data-position=center] {
    text-align: center
}

.soh_button[data-position=right] {
    text-align: right
}

body.light .soh_about {
    background-color: #fff;
}

.soh_skills {
    z-index: 15;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_skills .my_box {
    clear: both;
    display: flex;
    margin-bottom: 92px
}

.soh_skills .my_box .left {
    width: 50%;
    padding-right: 50px
}

.soh_skills .about_title h3 {
    font-weight: 700;
    color: #000;
    font-size: 20px
}

.waxon_progress {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-top: 33px
}

.progress_inner {
    width: 100%;
    margin-bottom: 17px
}

.progress_inner:last-child {
    margin-bottom: 0
}

.progress_inner>span {
    margin: 0 0 5px;
    width: 100%;
    display: block;
    text-align: left;
    color: #000;
    font-style: italic
}

.progress_inner span.number {
    float: right
}

.progress_inner .background {
    background: rgba(0, 0, 0, .09);
    width: 100%;
    min-width: 100%;
    position: relative;
    height: 3px
}

.progress_inner .background .bar_in {
    height: 100%;
    background: #000;
    width: 0;
    overflow: hidden
}

.progress_inner .background .bar {
    width: 0;
    height: 100%
}

.progress_inner .background .bar.open {
    -webkit-animation: wow 2s cubic-bezier(.165, .84, .44, 1);
    -moz-animation: wow 2s cubic-bezier(.165, .84, .44, 1);
    animation: wow 2s cubic-bezier(.165, .84, .44, 1);
    width: 100%
}

@-webkit-keyframes wow {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@-moz-keyframes wow {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@keyframes wow {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

.soh_skills .my_box .right {
    width: 50%;
    padding-left: 50px
}

.soh_skills .counter {
    width: 100%;
    float: left;
    clear: both
}

.soh_skills .counter ul {
    margin: 0 0 42px -50px;
    list-style-type: none;
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap
}

.soh_skills .counter ul li {
    margin: 0 0 50px;
    width: 33.3333%;
    float: left;
    padding-left: 50px
}

.soh_skills .list_inner {
    width: 100%;
    height: 100%;
    clear: both;
    float: left;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    padding: 40px 20px
}

.soh_skills .counter ul li h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 3px
}

.soh_skills .counter ul li span {
    font-style: italic;
}

.soh_skillSwiper .service_inner {
    margin-bottom: 70px;
    box-shadow: 0 5px 18px rgb(0 0 0 / 6%);
}

.soh_skillSwiper,
.soh_skillSwiper .service_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.soh_skillSwiper ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    cursor: grabbing
}

.soh_skillSwiper ul li {
    margin: 0
}

.soh_skillSwiper ul li .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative
}

.soh_skillSwiper ul li .svg {
    position: absolute;
    left: 0;
    top: 5px;
    width: 50px;
    height: 50px;
    color: #000;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease
}

.soh_skillSwiper ul li .details {
    padding-left: 75px
}

.soh_skillSwiper ul li .details h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px
}

.soh_skillSwiper ul li .details p {
    font-style: italic
}

.soh_portfolio {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 200px;
    padding-top: 150px;
    background-color: #f8f9fa
}

.soh_portfolio .portfolio_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-top: 105px
}

body.dark .soh_portfolio .list_inner {
    box-shadow: 3px 3px 15px 0 rgb(161 159 159 / 8%) !important;
    border: 1px solid #333;
}

.soh_portfolio .list_inner img {
    transition: all 0.4s ease-in-out;
}

.soh_portfolio .list_inner:hover img {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.soh_portfolio .portfolio_inner .list_inner {
    box-shadow: 0 5px 18px rgb(0 0 0 / 6%);
}

.soh_main_title,
.soh_skills .name {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.soh_main_title .title h3,
.soh_skills .name h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    position: relative
}

.soh_main_title .title h3 .bg,
.soh_skills .name h3 .bg {
    position: absolute;
    left: -6px;
    top: 0;
    font-family: 'poppins', sans-serif;
    color: transparent;
    font-size: 150px;
    font-weight: 900;
    opacity: .1;
    line-height: 0;
    -webkit-text-stroke: 1px #000;
    -webkit-user-select: none
}

.soh_portfolio .portfolio_filter {
    width: auto;
    position: relative;
    display: flex;
    align-items: center
}

.soh_portfolio .portfolio_filter ul {
    margin: 0;
    list-style-type: none;
    padding-right: 50px;
    position: relative;
    top: 3px
}

.soh_portfolio .portfolio_filter ul li {
    margin: 0 30px 0 0;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    left: 10px;
    position: relative;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.soh_portfolio .portfolio_filter ul li.opened {
    opacity: 1;
    visibility: visible;
    left: 0
}

.soh_portfolio .portfolio_filter ul li:last-child {
    margin-right: 0
}

.soh_portfolio .portfolio_filter ul li a {
    text-decoration: none;
    color: #000;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    display: inline-block
}

.soh_portfolio .portfolio_filter ul li a.current {
    color: #000
}

.soh_portfolio .portfolio_filter ul li a .first {
    position: absolute;
    transform: translateY(100%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_portfolio .portfolio_filter ul li a .second {
    position: relative;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_portfolio .portfolio_filter ul li a:hover .first {
    transform: translateY(0)
}

.soh_portfolio .portfolio_filter ul li a:hover .second {
    transform: translateY(-100%)
}

.soh_portfolio .portfolio_filter .wrapper {
    width: 30px;
    height: 17px;
    position: relative
}

.soh_portfolio .portfolio_filter .wrapper a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1
}

.soh_portfolio .portfolio_filter .wrapper .trigger {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%)
}

.soh_portfolio .portfolio_filter .wrapper .trigger:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 3px;
    background-color: #000;
    left: 0;
    top: -7px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_portfolio .portfolio_filter .wrapper .trigger:after {
    position: absolute;
    content: "";
    width: 15px;
    height: 3px;
    background-color: #000;
    right: 0;
    bottom: -7px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_portfolio .portfolio_filter .wrapper a:hover .trigger:before {
    left: 14px
}

.soh_portfolio .portfolio_filter .wrapper a:hover .trigger:after {
    right: 14px
}

.soh_portfolio .portfolio_filter .wrapper a.opened .trigger:before {
    left: 14px
}

.soh_portfolio .portfolio_filter .wrapper a.opened .trigger:after {
    right: 14px
}

.soh_portfolio .portfolio_inner ul {
    margin: 0 0 0 -50px;
    list-style-type: none
}

.soh_portfolio .portfolio_inner ul li {
    margin: 0 0 40px;
    float: left;
    width: 33.3333%;
    padding-left: 50px
}

.soh_portfolio .portfolio_inner ul li .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    overflow: hidden
}

.soh_portfolio .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, .7);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_portfolio .overlay .myimage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px !important;
    min-width: 150px !important;
    z-index: 1
}

.soh_portfolio .portfolio_inner ul li .list_inner .image:hover .overlay {
    opacity: 1;
    visibility: visible
}

.soh_portfolio .portfolio_inner ul li .list_inner .image {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden
}

.soh_portfolio .portfolio_inner ul li .list_inner .image img {
    min-width: 100%;
    height: 40vh;
    object-fit: cover;
}

.soh_portfolio .portfolio_inner ul li .list_inner .image .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_portfolio .portfolio_inner ul li .list_inner .image:hover .main {
    transform: scale(1.1) translateZ(0)
}

.soh_portfolio .portfolio_inner ul li .title h3 {
    margin-bottom: 2px
}

.soh_portfolio .portfolio_inner ul li .title h3 a {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_portfolio .portfolio_inner ul li .title span a {
    text-decoration: none;
    color: #767676;
    position: relative;
    display: inline-block;
    font-style: italic
}

.soh_services {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.soh_services .swiper {
    overflow: visible !important;
}

.soh_services .swiper-pagination.swiper-pagination-bullets {
    bottom: 0;
    left: 47%;
}

.soh_services .swiper-pagination .swiper-pagination-bullet {
    background-color: #3a00ff !important;
    width: 10px !important;
    height: 10px !important;
}

.soh_services .swiper-slide {
    opacity: 0 !important;
}

.soh_services .swiper-slide-active {
    opacity: 1 !important;
}

.soh_services .swiper-button-next {
    right: -50px !important;
}

.soh_services .swiper-button-prev {
    left: -50px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 26px !important;
}

body.light .soh_contact {
    background-color: #f8f9fa !important;
}

.soh_contact {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    padding: 150px 0 90px 0;
}

.soh_contact .contact_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.soh_contact .contact_inner .wrapper {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    padding-top: 43px
}

.soh_contact .desc {
    max-width: 50%;
    float: left;
}

.soh_contact .desc p {
    font-style: italic
}

.soh_contact .contact_inner .left {
    width: 50%;
    padding-right: 25px
}

.soh_contact .fields {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.soh_contact .fields .first {
    width: 100%;
    float: left
}

.soh_contact .fields ul {
    margin: 0;
    list-style-type: none
}

.soh_contact .fields ul li {
    width: 100%;
    margin: 0 0 30px;
    float: left
}

.soh_contact .fields ul li input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: transparent;
    font-style: italic
}

.soh_contact .fields ul li input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, .3)
}

.soh_contact .fields .last textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    background-color: transparent;
    font-style: italic
}

.soh_contact .fields .last textarea:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, .3)
}

.soh_contact .empty_notice {
    color: #f52225;
    margin-bottom: 7px;
    display: none;
    text-align: left;
    font-weight: 500
}

.soh_contact .contact_error {
    color: #f52225;
    text-align: left;
    font-weight: 500
}

.soh_contact .returnmessage {
    color: #3a00ff;
    margin-bottom: 7px;
    text-align: left;
    font-weight: 500
}

.soh_contact .right {
    width: 50%;
    padding-left: 25px;
    position: relative;
    top: 6px;
}

.soh_contact .map_wrap .map-loc {
    min-height: 350px;
    width: 100%;
}

body.light .soh_contact .map_wrap {
    border: 1px solid rgb(176, 175, 175) !important;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2)
}

body.light .soh_contact .map_wrap .map-loc {
    border-radius: 6px;
}

.soh_copyright {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 90px 0 10px;
}

.soh_copyright .copyright_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.soh_copyright .copyright_inner>ul {
    margin: 0 0 0 -30px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.soh_copyright .copyright_inner>ul>li {
    margin: 0 0 30px;
    width: 25%;
    float: left;
    padding-left: 30px
}

.soh_copyright .copyright_inner>ul>li span {
    display: block;
    color: #000;
    font-family: 'poppins', sans-serif;
    font-weight: 500
}

.soh_copyright .copyright_inner>ul>li span a {
    text-decoration: none;
    color: #000;
}

.social ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    position: relative;
    top: 4px
}

.social ul li {
    margin: 0 20px 0 0;
    display: inline-block
}

.social ul li:last-child {
    margin-right: 0
}

.social ul li a {
    text-decoration: none;
    color: #000;
    position: relative;
    overflow: hidden;
    display: inline-block
}

.social ul li a .first {
    position: absolute;
    transform: translateY(100%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.social ul li a .second {
    position: relative;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.social ul li a:hover .first {
    transform: translateY(0)
}

.social ul li a:hover .second {
    transform: translateY(-100%)
}

.social .svg {
    color: #000;
    width: 17px;
    height: 17px
}

.mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden
}

.cursor-inner {
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    z-index: 10000001;
    background-color: #000;
    -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
    transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out
}

.cursor-inner.cursor-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background-color: #000;
    opacity: .3
}

.cursor-outer {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000000;
    opacity: .5;
    -webkit-transition: all .08s ease-out;
    transition: all .08s ease-out
}

.cursor-outer.cursor-hover {
    opacity: 0
}

.soh_all_wrap[data-magic-cursor=hide] .mouse-cursor {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1111
}

.soh_hero .glitch_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden
}

.glitch {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/slider-1.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    z-index: -1 !important;
    opacity: 1;
    transform: scale(1)
}

.glitch:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.soh_hero .particle_wrapper {
    position: relative;
    float: left;
    width: 100%;
    height: 100%
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2
}

.fn_cs_personal_slider {
    width: 100%;
    height: 100%;
    clear: both;
    float: left
}

.fn_cs_personal_slider .main_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.fn_cs_personal_slider .swiper-container {
    cursor: none;
    overflow: hidden;
    height: 100%
}

.fn_cs_personal_slider .swiper-slide {
    overflow: hidden
}

.soh_settings {
    position: fixed;
    z-index: 99;
    top: 15%;
    right: -200px;
    width: 200px;
    background-color: #000;
    padding: 40px 20px 33px 30px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.soh_settings.opened {
    right: 0
}

.soh_settings .wrapper {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.soh_all_wrap #mode_switch {
    background-color: #111;
    position: relative;
    border: 1px solid #fff !important;
    border-radius: 18px;
}

.soh_all_wrap #mode_switch span {
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 333;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(29px);
    transition: all 0.4s ease-in-out;
}

.soh_all_wrap #mode_switch img {
    width: 17px !important;
    transform: rotateY(180deg);
    background-color: transparent;
    border-radius: 50%;
}

.soh_settings .icon {
    position: absolute;
    top: 0;
    right: 100%;
    background-color: transparent;
    border: 1px solid#FF8C00;
    border-radius: 6px 0 0 6px;
    border-right: 0;
    padding: 6px 12px;
    transition: all 0.3s ease-in-out;
}

.soh_settings .icon .svg {
    color: #FF8C00;
    transition: all 0.3s ease-in-out;
    width: 26px;
    height: 26px;
    animation: fa-spin 2s infinite linear
}

.soh_settings .link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0 !important;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.soh_settings .title {
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    position: relative;
    display: inline-block
}

.soh_settings .title:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .2);
    left: 0;
    bottom: 0
}

.soh_settings .colors {
    margin: 0 0 22px;
    list-style-type: none;
    padding-top: 32px
}

.soh_settings .colors li {
    margin: 0;
    display: inline-block
}

.soh_settings .colors li a {
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%
}

.soh_settings .direction {
    list-style-type: none;
    margin: 0
}

.soh_settings .direction li {
    margin: 0 20px 0 0;
    display: inline-block
}

.soh_settings .direction li a {
    opacity: .4;
    text-decoration: none;
    color: #fff
}

.soh_settings .direction li a.active {
    opacity: 1
}

.soh_settings .direction li .svg {
    width: 25px;
    height: 25px
}

.soh_settings .colors li.bl {
    display: inline-block
}

.soh_settings .colors li.wh {
    display: none
}

body.dark .soh_settings .colors li.bl,
.soh_settings.changed .colors li.bl {
    display: none
}

body.dark .soh_settings .colors li.wh,
.soh_settings.changed .colors li.wh {
    display: inline-block
}

body.dark .soh_settings,
.soh_settings.changed {
    background-color: #fff
}

body.dark .soh_settings .icon,
.soh_settings.changed .icon {
    background-color: #fff
}

body.dark .soh_settings .icon .svg,
.soh_settings.changed .icon .svg {
    color: #FF8C00
}

body.dark .soh_settings .title,
.soh_settings.changed .title {
    color: #000
}

body.dark .soh_settings .title:before,
.soh_settings.changed .title:before {
    background-color: rgba(0, 0, 0, .5)
}

body.dark .soh_settings .direction li a,
.soh_settings.changed .direction li a {
    color: #000
}

body.dark .soh_settings .cursor li:nth-child(1) a,
.soh_settings.changed .cursor li:nth-child(1) a {
    border-color: #000
}

body.dark .soh_settings .cursor li:nth-child(1) a:before,
.soh_settings.changed .cursor li:nth-child(1) a:before {
    background-color: #000
}

body.dark .soh_settings .cursor li .svg,
.soh_settings.changed .cursor li .svg {
    color: #000
}

.soh_settings .cursor {
    margin: 0;
    list-style-type: none;
    padding-top: 15px
}

.soh_settings .cursor li {
    margin: 0 20px 0 0;
    display: inline-block
}

.soh_settings .cursor li a {
    text-decoration: none;
    color: #fff;
    opacity: .4;
    font-weight: 600
}

.soh_settings .cursor li a.showme {
    opacity: 1
}

.soh_settings .cursor li:nth-child(1) a {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #fff;
    position: relative;
    display: inline-block
}

.soh_settings .cursor li:nth-child(1) a:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%
}

.soh_settings .cursor li .svg {
    width: 25px;
    height: 25px;
    color: #fff
}

.soh_settings .cursor li:nth-child(2) {
    position: relative;
    top: -2px
}

.soh_settings .effect {
    margin: 0;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 25px
}

.soh_settings .effect li {
    margin: 0 0 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    background-color: #fff;
    opacity: .4
}

.soh_settings .effect li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    display: block;
    position: relative;
    top: 2px
}

.soh_settings .effect li.selected {
    background-color: #fff;
    opacity: 1
}

.soh_intro_page {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.soh_intro_page .hero_header {
    width: 100%;
    height: 100vh;
    position: relative;
    float: left;
    margin-bottom: 135px;
    background-color: #000
}

.soh_intro_page .hero_header .wp {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    display: inline-block;
    background-color: #fff;
    padding: 5px 40px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px
}

.soh_intro_page .hero_header .wp a {
    text-decoration: none;
    color: #e54b4b;
    font-weight: 600
}

.soh_intro_page .hero_header .container.intro {
    height: 100%;
    max-width: 1400px
}

.soh_intro_page .hero_header .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1
}

.soh_intro_page .hero_header .content .titlehero {
    color: #fff;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    padding: 45px 0
}

.soh_button.intro a:hover {
    color: #fff !important
}

.soh_intro_page .mainpart {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 85px
}

.soh_intro_page .mainpart .intro_title {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    text-align: center;
    margin-bottom: 85px
}

.soh_intro_page .mainpart .intro_title h3 {
    font-size: 35px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase
}

.container.demo {
    max-width: 1400px
}

.soh_intro_page .demo_list,
.soh_intro_page .demo_list .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.soh_intro_page .demo_list ul {
    margin: 0 0 0 -50px;
    list-style-type: none
}

.soh_intro_page .demo_list ul li {
    margin: 0 0 60px;
    width: 50%;
    float: left;
    padding-left: 50px
}

.soh_intro_page .demo_list ul li .in {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    text-align: center
}

.soh_intro_page .demo_list ul li img {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2)
}

.soh_intro_page .demo_list ul li .full_link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1
}

.soh_intro_page .demo_list ul li .detail {
    display: inline-block;
    position: relative
}

.soh_intro_page .demo_list ul li .detail .new {
    position: absolute;
    left: 100%;
    background-color: #e54b4b;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    padding: 2px 20px;
    border-radius: 50px;
    top: 50%;
    margin-left: 20px;
    transform: translateY(-50%);
    margin-top: 10px
}

.soh_intro_page .demo_list ul li h3 {
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px
}

.soh_intro_page .intro_footer {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background-color: #000;
    text-align: center;
    padding: 175px 20px 200px
}

.soh_intro_page .intro_footer .inner {
    width: 100%;
    max-width: 700px;
    margin: 0 auto
}

.soh_intro_page .intro_footer .inner h3 {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    max-width: 650px;
    margin-bottom: 40px
}

.soh_intro_fixed_price .pricing-info,
.soh_intro_fixed_price .anim {
    text-decoration: none;
    color: #fff;
    font-family: 'poppins', sans-serif;
    background-color: #e54b4b;
    position: fixed;
    font-size: 22px;
    text-align: center;
    z-index: 5;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    display: inline-block;
    bottom: 50px;
    right: 50px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

@-webkit-keyframes myAnim {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 0
    }

    50% {
        opacity: .3
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}

@keyframes myAnim {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 0
    }

    50% {
        opacity: .3
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}

.soh_intro_fixed_price .anim:nth-child(1) {
    -webkit-animation: myAnim 2s infinite;
    animation: myAnim 2s infinite
}

.soh_intro_fixed_price .anim:nth-child(2) {
    -webkit-animation: myAnim 2s infinite .3s;
    animation: myAnim 2s infinite .3s
}

.soh_intro_fixed_price .anim:nth-child(3) {
    -webkit-animation: myAnim 2s infinite .6s;
    animation: myAnim 2s infinite .6s
}

@media(max-width:1600px) {
    .container {
        max-width: 1120px
    }

    .soh_hero .content_inner h3 {
        font-size: 80px
    }

    .soh_news ul li .details .title a {
        font-size: 17px
    }

    .soh_news ul li .details {
        padding: 30px 30px 25px
    }
}

@media(max-width:1200px) {
    .soh_hero .background .leftpart {
        width: 0%
    }

    .soh_hero .background .rightpart {
        padding-left: 0
    }

    .soh_modalbox_news .box_inner {
        width: 100%;
        top: 0;
        bottom: 0
    }

    .soh_modalbox_news .close a {
        color: #000
    }

    .soh_modalbox_news .close {
        left: auto;
        right: 5px;
        top: 25px
    }

    .soh_modalbox_news .close .svg {
        width: 25px;
        height: 25px
    }

    .soh_skills .box_inner {
        width: 100%;
        top: 0;
        bottom: 0
    }

    .soh_skills .close a {
        color: #000
    }

    .soh_skills .close {
        left: auto;
        right: 5px;
        top: 25px
    }

    .soh_skills .close .svg {
        width: 25px;
        height: 25px
    }
}

@media(max-width:1040px) {
    .soh_preloader {
        display: none
    }

    .soh_topbar {
        display: none
    }

    .soh_mobile_menu {
        display: block
    }

    .soh_hero .content_inner h3 {
        font-size: 60px
    }

    .soh_main_title .title h3 .bg {
        display: none
    }

    .soh_about .name h3 .bg,
    .soh_skills .name .bg {
        display: none
    }

    .soh_about .about_inner {
        flex-direction: column;
        align-items: baseline
    }

    .soh_about .about_inner .left {
        width: 100%;
        margin-bottom: 50px
    }

    body.dark .soh_about .about_inner .left {
        width: 100%;
        margin-bottom: 50px
    }

    .soh_about .about_inner .left .image .myDot {
        display: none
    }

    .soh_about .about_inner .right {
        width: 100%;
        padding-left: 0
    }

    .soh_about .name h3 {
        font-size: 30px
    }

    .soh_main_title .title h3 {
        font-size: 30px
    }

    .soh_main_title {
        display: block
    }

    .soh_portfolio .portfolio_filter {
        display: block
    }

    .soh_portfolio .portfolio_filter .wrapper {
        display: none
    }

    .soh_portfolio .portfolio_filter ul li {
        left: 0;
        opacity: 1;
        visibility: visible
    }

    .soh_portfolio .portfolio_filter ul {
        padding-right: 0;
        padding-top: 40px
    }

    .soh_portfolio .portfolio_inner {
        padding-top: 30px
    }

    .soh_portfolio .portfolio_inner ul li {
        width: 50%
    }

    .soh_services .quote_list ul {
        flex-direction: column
    }

    .soh_services .quote_list ul li {
        margin-bottom: 50px
    }

    .soh_services .quote_list ul li:last-child {
        margin-bottom: 0
    }

    .soh_services .quote_list ul li .svg {
        opacity: 1;
        margin-bottom: 15px
    }

    .soh_services .quote_list ul li .text {
        opacity: 1;
        visibility: visible
    }

    .soh_services .details .main {
        opacity: 1;
        transform: scale(1)
    }

    .soh_services .short .author span,
    .soh_services .short .job span {
        transform: translateY(0)
    }

    .soh_services .quote_list ul li {
        position: relative
    }

    .soh_news .news_inner ul li {
        width: 50%
    }

    .soh_contact .desc {
        max-width: 100%
    }

    .soh_contact .contact_inner .wrapper {
        flex-direction: column;
        align-items: baseline
    }

    .soh_contact .contact_inner .left {
        width: 100%;
        padding-right: 0;
        margin-bottom: 40px
    }

    .soh_contact .right {
        width: 100%;
        padding-left: 0
    }

    .soh_copyright .copyright_inner>ul>li {
        width: 100%;
        padding-left: 0
    }

    .soh_copyright .copyright_inner>ul {
        display: block;
        margin: 0
    }

    .soh_modalbox_news .description_wrap {
        padding: 40px
    }

    .soh_skills .description_wrap {
        padding: 40px
    }

    .soh_skills .my_box {
        flex-direction: column
    }

    .soh_skills .my_box .left {
        width: 100%;
        padding-right: 0;
        margin-bottom: 50px
    }

    .soh_skills .my_box .right {
        width: 100%;
        padding-left: 0
    }

    .soh_portfolio {
        padding-top: 140px;
        margin-bottom: 140px
    }

    .soh_news {
        padding-top: 140px
    }

    .soh_contact {
        padding-top: 140px
    }

    .mouse-cursor {
        display: none
    }

    .soh_settings {
        top: 20%
    }
}

@media(max-width:1050px) {
    .soh_mobile_menu .topbar_inner .bigger .topbar_in svg {
        width: 14vh;
        height: 12vh;
    }
}

@media (max-width:520px) {
    .soh_about .social .svg {
        width: 30px !important;
        height: 30px !important;
    }

    .soh_about .social h5 {
        font-size: 20px !important;
    }
}

@media(max-width:768px) {
    .soh_hero .content_inner h3 {
        font-size: 50px
    }

    .soh_skillSwiper ul li .svg {
        position: relative;
        margin-bottom: 20px
    }

    .soh_skillSwiper ul li .details {
        padding-left: 0
    }

    .soh_portfolio .portfolio_inner ul {
        margin: 0
    }

    .soh_portfolio .portfolio_inner ul li {
        width: 100%;
        padding-left: 0
    }

    .soh_news .news_inner ul {
        margin-left: 0
    }

    .soh_news .news_inner ul li {
        width: 100%;
        padding-left: 0
    }

    .soh_modalbox_news .main_content .icon {
        position: relative;
        margin-bottom: 30px
    }

    .soh_modalbox_news .main_content .quotebox {
        padding-left: 0
    }

    .soh_modalbox_news .details .title {
        font-size: 21px
    }

    .soh_skills .counter ul {
        margin: 0 !important;
    }

    .soh_skills .counter ul li {
        width: 100% !important;
        padding-left: 0 !important;
    }

    .soh_intro_page .demo_list ul {
        margin: 0
    }

    .soh_intro_page .demo_list ul li {
        width: 100%;
        padding-left: 0
    }

    .soh_intro_page .intro_footer .inner h3 {
        font-size: 35px
    }

    .soh_intro_fixed_price .pricing-info,
    .soh_intro_fixed_price .anim {
        width: 50px;
        height: 50px;
        line-height: 50px;
        bottom: 25px;
        right: 25px;
        font-size: 15px
    }

    .soh_intro_page .hero_header .content {
        width: 100%
    }

    .soh_intro_page .hero_header .content .titlehero {
        font-size: 19px
    }
}